[Unit]
Description=Start ROS 2 MQTT Service
After=network.target

[Service]
Type=simple
ExecStart=/home/hifzhil/jazzy_ws/src/ros2_smartdashcam/script/start_ros_mqtt.sh
Restart=on-failure
RestartSec=5
User=pi
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target 